name: easacctask
description: "A new Flutter project."

publish_to: 'none'


version: 1.0.0+1

environment:
  sdk: '>=3.3.4 <4.0.0'


dependencies:
  flutter:
    sdk: flutter



  cupertino_icons: ^1.0.6
  google_sign_in: ^6.2.2
  flutter_facebook_auth: ^7.1.0
  shared_preferences: ^2.2.3
#  flutter_blue_plus: ^2.0.2
  firebase_core: ^3.4.0
  webview_flutter: ^4.8.0
  flutter_reactive_ble: ^5.0.0  # Stable BLE alternative

  wifi_scan: ^0.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^3.0.0


flutter:


  uses-material-design: true


